[2015-02-16 02:37] ryanleesipes opened #1 "Button.add_style"
Missing some CSS styles. In Journal code a style called "suggested-action" doesn't currently exist. I will update with relevant code if I remember.

[2015-02-16 04:33] ikeydoherty opened #2 "Font weight in menus too heavy"
Firstly, wow! Veeeery slick =) _LOVE_ the headerbars =)

One thing that I noticed is inherited from Iris is the heavy weight menu text.. not sure that I'm
completely a fan :s

Secondly.. (I'm being a piss-take now =)) it seems some popovers loose edge-definition (perhaps lack of border?) - see gnome-weather for an example (the appmenu, top left)

But other than that, seriously. Love it. <3

[2015-02-16 16:59] ryanleesipes opened #3 "Close, minimize, maximize "icons" when maximized."
Shows white "X" when maximized (this is in Gnome). Shows other icons on my Evolve OS install.

![red-x-screenshot](https://cloud.githubusercontent.com/assets/2141621/6215930/af621cde-b5ca-11e4-9d6c-f09dd7236ef4.png)

[2015-02-16 18:29] #3 closed, assigned to nobody

[2015-02-16 23:18] #2 closed, assigned to nobody

[2015-02-18 20:38] #1 closed, assigned to nobody

[2015-02-18 21:30] peter-cornelis opened #4 "Fix popover linked buttons"

[2015-02-19 19:14] #4 closed, assigned to nobody

[2015-02-22 18:13] alphaphee opened #5 "checked checkbox button should not be the same color as the selection color. unchecked should not be transparent"

[2015-02-22 18:16] alphaphee opened #6 "checkbox visual issue"
![checkbox](https://cloud.githubusercontent.com/assets/4603691/6319716/9dc5a6b2-bacf-11e4-9a70-fec2e09a092a.png)
Checked checkbox button should not be the same color as the selection color.
Unchecked checkbox should not be transparent

[2015-02-22 19:49] alphaPhi opened #7 "Inconsistent window button colors"
![windowbuttons](https://cloud.githubusercontent.com/assets/4603691/6320041/abe5b284-badc-11e4-89b0-8c04b64ce3cc.png)
The minimize and maximize buttons have different buttons on headerbar and titlebar.

[2015-02-22 21:07] #6 closed, assigned to nobody

[2015-02-22 21:07] #5 closed, assigned to nobody

[2015-02-22 21:24] peter-cornelis opened #8 "Redesign radio-buttons"

[2015-02-24 21:36] #8 closed, assigned to nobody

[2015-02-28 12:16] alphaphee opened #9 "White highlight issue in gnome-tweak-tool"
The white highlight matches the color of the combo box and makes the selected choice unreadable, when the mouse is over the label and not the combo box itself .

![screenshot from 2015-02-28 13 59 59](https://cloud.githubusercontent.com/assets/4603691/6426153/5d4e4b96-bf54-11e4-8eed-5ffd4ae9ac34.png)

[2015-02-28 12:53] #9 closed, assigned to nobody

[2015-02-28 16:42] alphaphee opened #10 "Switch slider does not show in white background"
Maybe it should get a percentage of grey.

![slidersbug](https://cloud.githubusercontent.com/assets/4603691/6426925/7ba0313e-bf79-11e4-894f-81e2be5bdb4c.png)

[2015-02-28 17:31] #10 closed, assigned to nobody

[2015-02-28 18:06] alphaphee opened #11 "Gnome Videos (Totem) 3.14 dark theme does not apply to play/progress bar"
![ppbarbug](https://cloud.githubusercontent.com/assets/4603691/6427305/656a9e2a-bf85-11e4-95fb-bf9f41fd7578.png)

[2015-03-01 12:06] #11 closed, assigned to nobody

[2015-03-03 09:25] alphaPhi opened #12 "corebird visual issues"
Hovering the text may render it unreadable in some screens without perfect contrast. Maybe a darker grey(or with some blue tone) could be used to increase the contrast.
Also the black lines separating the tweets are quit distracting, in Adwaita the use a light grey color.

![corebird-issues](https://cloud.githubusercontent.com/assets/4603691/6459489/c5c9ce8a-c197-11e4-8697-a2fbe7ef5f65.png)

[2015-03-03 16:24] ryanleesipes commented on #12
Going to follow @hackaday because of this post. :)

[2015-03-03 16:30] alphaPhi commented on #12
huh :P

[2015-03-03 17:46] ryanleesipes opened #13 "Add a custom style scheme"
Really would like a custom style scheme added to this project :)

Examples: https://git.gnome.org/browse/gtksourceview/tree/data/styles

Need to put them in /usr/share/gtksourceview-3.0/styles/ to make them available system-wide

[2015-03-03 21:25] #12 closed

[2015-03-04 23:56] poltertec opened #14 "all linked comboboxes show up as last-child"

[2015-03-04 23:56] poltertec opened #15 "nautilus sidebar consistent with other sidebars"

[2015-03-04 23:57] poltertec opened #16 "checkboxes cause trouble in widget-factory"

[2015-03-04 23:59] poltertec opened #17 "return combobox border for visibility on base-color frames"

[2015-03-05 08:48] #17 closed

[2015-03-05 16:27] #14 closed

[2015-03-05 20:24] #16 closed

[2015-03-07 14:06] poltertec commented on #15
leave as is

[2015-03-07 14:06] #15 closed

[2015-03-25 12:37] alphaPhi opened #18 "dark window border on evopop gtk theme"
The pixel border around windows is too dark, and as a result it can be a little distracting in very light backgrounds. Maybe we could use something more grey-ish.

[2015-03-25 14:16] bmeznarsic opened #19 "Support for GTK+ 3.16"
I hear Justin is already building GNOME/GTK+ packages. Might wanna start porting to v3.16.

[2015-03-25 16:00] poltertec commented on #19
Love to as soon as  i can get my hands on the gtk 3.16 package.
Only using evolve atm :)

[2015-03-27 15:31] #18 closed

[2015-03-28 00:32] Justinzobel commented on #19
@poltertec come at me on IRC and i'll send you the gtk3.16 packags :)

[2015-03-28 11:22] pulb opened #20 "Theming bugs"
Hi, awesome theme!

I found a few theming issues though. The first screenshot shows an oversized close button in a Gimp tool window, the second shows the unthemed resize handle in Nautilus. I'm using GNOME 3.14.

![bildschirmfoto von 2015-03-28 12 14 00](https://cloud.githubusercontent.com/assets/827576/6880869/7a306b76-d544-11e4-84c2-0e984c64e6f7.png)
![bildschirmfoto von 2015-03-28 12 10 18](htt

[2015-03-28 14:31] zesterer opened #21 "No Firefox themeing"
I've noticed that this theme provides no Firefox theming, while other themes do. Is this because Firefox utilises Gtk 2 and this theme is Gtk 3 only? Regardless it's a little dissapointing, since Firefox doesn't look very good without the dark tab background...

[2015-03-28 14:31] zesterer opened #22 "No Firefox theming"
I've noticed that this theme provides no Firefox theming, while other themes do. Is this because Firefox utilises Gtk 2 and this theme is Gtk 3 only? Regardless it's a little disappointing, since Firefox doesn't look very good without the dark tab background...

[2015-03-28 14:34] zesterer opened #23 "Pantheon Notifications transparency issues"
![screenshot from 2015-03-28 14 33 07](https://cloud.githubusercontent.com/assets/3268430/6881431/72b6730a-d557-11e4-951b-feafab79768c.png)

As you can see here, this theme display transparent notifications. Clearly this isn't the intended behaviour. It would be brilliant if this could be fixed :-)

[2015-03-28 14:40] #21 closed

[2015-03-28 14:42] poltertec commented on #22
Will be addressed soon still lots todo on the gtk2 front

[2015-03-28 14:46] poltertec commented on #20
Heya :)
Thx for pointing out the close button issue.
Changed the pane-handle to something more fitting for the theme.

[2015-03-28 14:52] zesterer commented on #22
Yay! That's awesome.

[2015-03-28 16:47] poltertec commented on #22
firefox issue should be resolved :)

[2015-03-28 16:47] #22 closed

[2015-03-28 17:14] zesterer commented on #22
I'll give it a go now...

[2015-03-28 19:45] crutchcorn commented on #7
Just wondering - what changes in GTK3.16 allow this to be fixed and how will it be fixed?
(just wanting to learn is all)

[2015-03-28 19:52] poltertec commented on #7
https://git.gnome.org/browse/gtk+/commit/?id=b187773053098cca1b7c23e04e096d47fbb65a5f
No more nth-child stuff

[2015-03-28 20:47] zesterer opened #24 "Gtk Errors"
Hi again,

I'm currently developing Gtk software. Every time I start it up, I get the following errors. I'm 90% sure it's due to the Gtk theme. It's just a bit annoying, 'tis all. Thanks.

(timber:26223): Gtk-WARNING **: Theme parsing error: button.css:231:27: Missing name of pseudo-class

(timber:26223): Gtk-WARNING **: Theme parsing error: cell-row.css:13:112: Expected semicolon

(timber:26223):

[2015-03-28 21:28] gonzalezb opened #25 "Allow left gtk3 button theming"
When im in budgie this theme only themes the gtk3+ window buttons on the right side when i put them on the left they are no longer themed.

[2015-03-29 00:41] poltertec commented on #7
will have to drop 3.14 to fix this so will wait untill  ikey pushes 3.16 to evolve os

[2015-03-29 01:36] #20 closed

[2015-03-29 10:28] poltertec commented on #25
Removed left titlebutton support because of issues with infobuttons in EvolveOS.
Left control buttons support will be re added once we jump to 3.16 see #7 .

[2015-03-29 10:32] pulb commented on #20
Many thanks for fixing it so quickly. Though what I meant with "resize handle" was actually the whole vertical grey line (including the dots) :-) I think it would look better if that line isn't visible, just like in the Adwaita theme.

[2015-03-29 10:36] pulb commented on #20
Oh and what about using a slightly darker grey in Nautilus' side bar, so there's more contrast to the files pane on the right side?

[2015-03-29 11:08] poltertec commented on #20
Ow :)
Still weighing or options with that sidebar, but is deffinitly being worked on.

[2015-03-29 15:08] ikeydoherty opened #26 "Menubar does not blend with titlebar"
![screenshot from 2015-03-29 16 07 13](https://cloud.githubusercontent.com/assets/164489/6886234/beb47c6c-d62d-11e4-924e-9cb6ea48d1ba.png)

Not sure if its intentional :)

[2015-03-29 15:11] ikeydoherty commented on #26
Ignore me I was using an old broken clone. >_>

[2015-03-29 15:11] #26 closed

[2015-03-29 16:03] ikeydoherty commented on #7
Well... :)

With 3.16 you can now have *versioned* themes!

[2015-03-29 19:51] #24 closed

[2015-03-30 08:59] DerpyCrabs opened #28 "Gtk2 titlebars"
Titlebars of gtk2 windows (gimp2 for example) aren't themed. Creation of metacity-theme-2.xml(which is the same with metacity-theme-3.xml) fixes this bug.

[2015-03-30 09:02] DerpyCrabs opened #29 "Permissions"
After install, folders with theme in /usr/share/themes have 700 permissions. It didn't allow to set theme. Changing permissions to 755 (as another theme folders) recursively fixes this bug.

[2015-03-30 09:22] poltertec commented on #29
Wierd all permissions seem correct here :s

[2015-03-30 09:31] DerpyCrabs commented on #23
it is fixed by adding:
[code]
to gtk-widgets.css file.

[2015-03-30 09:38] DerpyCrabs commented on #29
With 700 permissions, after applying theme, theme changes to adwaita.
![screenshot from 2015-03-30 16 36 38](https://cloud.githubusercontent.com/assets/9917318/6893904/97418f88-d6f2-11e4-9ff4-50074394da3e.png)
(Left is permissions after installing with sudo make install, right is working themes from repository)

[2015-03-30 09:59] poltertec commented on #29
I did not say i didn't believe you :)
However have no direct idea what is causing this on your system.
Just tried it on vm without any issues installed with 755 permissions.

[2015-03-30 10:15] DerpyCrabs commented on #29
I found the reason. Downloaded zip from github and extracted by file-roller has 700 permissions of folders in installer path. I tried git clone and it's working. 775 permissions on folders.

[2015-03-30 10:15] DerpyCrabs commented on #29
I found the reason. Downloaded zip from github and extracted by file-roller has 700 permissions of folders in installer path. I tried git clone and it's working. 775 permissions on folders.

[2015-03-30 16:10] poltertec commented on #23
thx no class searching :)

[2015-03-30 16:11] #23 closed

[2015-03-30 16:18] #28 closed

[2015-03-30 16:20] poltertec commented on #29
Allright thx for the clarification & glad it's resolved :)

[2015-03-30 16:20] #29 closed

[2015-03-30 16:28] #19 closed

[2015-03-31 21:18] #25 closed

[2015-03-31 21:23] #7 closed

[2015-04-01 17:31] zesterer commented on #23
Hello,

I love the fix, but there's a problem. It creases a white background, while the text is very close to white so it's almost invisible. Maybe the background colour should become more like the headerbar background colour?

[2015-04-01 17:38] DerpyCrabs commented on #23
I didn't notice that i used bg_color in code. I'm using dark variant and it has headerbar background colour for notification. This bug can be fixed by changing @bg_color with #31363D.

[2015-04-01 17:54] poltertec commented on #23
Text must be controlled separatly then, color was set.
But will switch to header color to fix the normal theme.
Light theme won't be fixed though.

[2015-04-01 18:52] zesterer commented on #23
That's all fine with me, I prefer the default theme :-)

Thanks.

[2015-04-04 10:29] aquatix opened #30 "Tiny titlebar closing button on hidpi"
On my Dell XPS 15 with 3200x1800 screen, evopop looks phenomenal. I love how it looks and feels. Only minor gripe I have is that the close button in regular window bars is tiny. It's about a quarter of the size of the version in Nautilus and such, so it seems it isn't using a highres version. This makes it look rather off, as it isn't centered too because of that.

I'm attaching a screenshot with

[2015-04-04 10:30] aquatix commented on #30
![Difference between combined title bar and regular one with tiny button](https://cloud.githubusercontent.com/assets/629545/6992296/487f5bdc-dac6-11e4-87e1-d79e18d2706c.png)

[2015-04-04 11:19] poltertec commented on #30
will see what i can do about this.
Which version of Gtk/Mutter are you running on?

[2015-04-04 12:22] aquatix commented on #30
Gtk version 3.14.4, Mutter 3.14.3 (Ubuntu Gnome 14.10 with gnome-staging ppa).

[2015-04-04 13:29] poltertec commented on #30
Any change you could try out a 3.16 distro build in vm or wathever?
What i have read about it so far support in mutter for this has only been added since 3.16

[2015-04-05 09:22] zesterer opened #31 "Close button too close to window edge"
Is this meant to happen?

![screenshot from 2015-04-05 10 22 33](https://cloud.githubusercontent.com/assets/3268430/6996394/b3172e90-db7d-11e4-8af1-f67f28677fed.png)

[2015-04-05 11:09] poltertec commented on #31
Not really, thx for pointing that out :)
Fix coming up :)

[2015-04-05 11:10] #31 closed

[2015-04-05 22:35] sergioad opened #32 "Add Nautilus sidebar colour"
Hello @poltertec I noted that Nautilus has not a colored sidebar, the sidebar has a white colour as the content box (the place where are the folders and files of your visited directory) and this mamkes the sidebar look as another content box can you make it look more like a panel using the same grey of the  panel but a little bit lighter?

[2015-04-05 22:44] sergioad opened #33 "[REQUEST] Symbol only window controls variant"
Hello @poltertec I love EvoPop but I do not like it's Mac OSX like circled window controls, can you add a variant of the EvoPop dark and light themes but with symbolic window controls? instead of the three circles of diferent they should be a - + and x symbols coloured in black and when pressed them should change to red (for close) blue (for maximize) and green (for minimize), exactly the same col

[2015-04-05 23:04] zesterer opened #34 "The HeaderBar window controls have vanished"
The title says it all. No need for a screenshot. They still exist, I can click them. But visually they are non-existent.

[2015-04-05 23:07] poltertec commented on #33
Hey,
Will certainly add this at some point, however not atm to keep it manageable.

[2015-04-05 23:35] poltertec commented on #34
are we talking gtk 3.14 or mutter?

[2015-04-05 23:52] sergioad commented on #33
Thank you very much, I love Evopop but certainly the Mac OSX like window controls are not for me :smile:

[2015-04-06 00:14] poltertec commented on #32
Hey,

Actually tried that but didn't work.
Had something else planned but a bug in gtk is holding it back.
However i will look for a temp solution.

[2015-04-06 00:23] sergioad commented on #32
Ok, thank you very much, seeing Evopop with the Nautilus sidebar and symbolic window controls variant will be AMAZING, if I find this I will use Evopop each day :smile:

[2015-04-06 00:39] poltertec commented on #34
Just downloaded the latest build on my computers & did not come across it.
On gtk 3.14 however left window controls haven't been implemented yet.
Will add it in a sec.

[2015-04-06 01:20] #34 closed

[2015-04-06 01:40] zesterer commented on #34
Gtk 3.14, using Gala as a window manager. Although that shouldn't make a
difference I think as CSD are handled by the toolkit, not the WM.

On 6 April 2015 at 00:35, poltertec <notifications@github.com> wrote:

--
Thanks,

Barry Smith

[2015-04-06 08:26] poltertec commented on #34
Asked it to pinpoint the file i had to look in.
Anyway should work now grtz

[2015-04-06 14:01] zesterer commented on #34
Thanks

On 6 April 2015 at 09:26, poltertec <notifications@github.com> wrote:

--
Thanks,

Barry Smith

[2015-04-10 22:13] alex285 opened #35 "Borders on Nautilus List view [316]"
See screenshot
[borders-evopop-list-view](https://cloud.githubusercontent.com/assets/11244308/7098325/db511d30-dfe7-11e4-8caf-dd12e8de5483.png)

[2015-04-11 03:45] Abhishek-Rawal opened #36 "Some Apps BG Is Not Rendered Properly. (Border Shadow)"
![screenshot from 2015-04-11 09-07-19](https://cloud.githubusercontent.com/assets/10757422/7100109/d550c186-e02a-11e4-95ff-cef5344b8fbb.png)

Some apps like 'Terminal' 'Sublime Text 3' have weird border shadow.
While most apps just looks perfect.
I have compared Terminal (which shows weird background shadow) with Nautilus (which is delivering bg shadow perfectly)

Gnome 3.16.0
ArchLinux

[2015-04-11 09:47] poltertec commented on #35
can't recreate on our testbuild but will try to fix this, this weekend.

[2015-04-11 09:48] poltertec commented on #36
Something to do with metacity will look into it this weekend.

[2015-04-11 10:57] alex285 commented on #35
If you dont have 316, I can fix for you, but after monday

[2015-04-11 11:19] poltertec commented on #35
We do have 316 in testing but the prob doesn't show up.
However have to install an other distro to test an other problem anyways so no worries :)

[2015-04-11 17:19] alex285 opened #38 "Popover arrows sizes"
I wanna keep a consistency on some elements like popover arrows. Are you gonna keep this size?
I think it hasn't a "smooth" height/width ratio. On Shell I use base 16 rise 7, which a "copy" from Google plus notifications.
Bootstrap dropped arrows on popovers when there arrow indicators on buttons, which is the same as in GNOME Shell. Should I completely drop arrows?
Ideas?

![arrows](https://cloud

[2015-04-11 17:21] alex285 commented on #38
Irrelevant but the cogl button (Settings) should be replaced with a menu button. It's 3.16 change if I can recall.

[2015-04-11 18:10] poltertec commented on #38
I'm fine with switching to base 16 rise 7

Grtz

[2015-04-11 18:30] alex285 commented on #38
Great! Closing this, I open another for the cogl/gear menu later. Thanks!

[2015-04-11 18:30] #38 closed

[2015-04-13 04:31] crutchcorn opened #39 "Buttons Sometimes Shown Incorrectly"
Found an interesting bug on Elementary.

I use a custom button set up of close on the left and minimize on the right. I do this so I don't accidentally close windows when I meant to minimize them. Anyway, you'll notice that they show incorrectly on GTK 3 applications (showing minimize as close button) yet not metacity apps.
![screenshot from 2015-04-12 21 25 41](https://cloud.githubusercontent.com

[2015-04-13 06:43] poltertec commented on #39
Yep i know.
Is either that or no left window control support in gtk.
There is a fix introduced for this in gtk 3.16.

Grtz

[2015-04-13 06:43] #39 closed

[2015-04-13 06:51] crutchcorn commented on #39
There is though. Like I said - works with Paper GTK. Oh well, sorry for bothering. Just something I noticed. :)

[2015-04-13 08:44] poltertec commented on #39
Yep but paper isn't using window control assets for its gtk theme as far as i can see only for metacity.
They are controlled by the icon theme. We use assets for that just like the vertex theme for example.
In gtk 3.14 and below this could only be set by using nth-child commands which causes this limitation.
Since 3.16 the window control buttons classes .close , .maximize ,... to resolve this issu

[2015-04-13 19:50] alex285 opened #40 "maximized csd on light theme"
Can  you please apply it on light variant too?
https://github.com/cyweb/evopop-gtk-theme/commit/5a4a754c01020cb69d558aa3cd6148950054c7fd

[2015-04-13 20:45] #40 closed

[2015-04-13 21:39] alex285 commented on #35
You can do this:
NautilusListView GtkTreeView {
	border-top:1px solid #E6E8EB; //your border color
}

[2015-04-17 19:20] #36 closed

[2015-04-18 08:51] Anachron opened #41 "Variant per Branch"
I would love to see the light and dark variants to use different branches.
This way I could just clone the repo into ~/.themes and then update it with "git pull origin master".

[2015-04-18 11:25] aquatix commented on #30
Hey, sorry to have been silent for so long. I can't get it working in a VM, as Virtualbox doesn't recognise being on a hidpi screen (so everything is just tiny, or upscaled like you can do with the "Window scaling" setting in Gnome Tweak.

Also, all livecd's (usb's) somehow are against me, as they refuse to boot on this machine. I'll try again later this weekend.

[2015-04-18 11:29] aquatix opened #42 "Fuzzy upscaled slide buttons on hidpi"
Hey, another hidpi bug, sorry :)

Almost all gtk widgets look great and sharp on my 3200x1800 screen (XPS15) in Gnome 3.14, except for the enable/disable slide toggles (see attachment). They seem to get upscaled from regular-dpi versions.

I'll also try to test this in 3.16 later this weekend (like #30), but I guess this is some assets thing?

Thanks in advance!

![screenshot from 2015-04-18 13 26

[2015-04-18 13:23] poltertec commented on #42
Yep noticed that is same in 3.16.
Kind of a bugger since they are liniar drawings.
Still searching how best to solve this.
Grtz

[2015-04-18 13:27] aquatix commented on #42
Ah, bugger...

Anyway, they don't bother me much, so take your time thinking how to fix it properly. If I can help (test), please let me know!

[2015-04-18 14:19] poltertec commented on #42
I'll have the hidpi fixed this weekend.
Only 3.14 metacity window controls wont work could probally solve that by making a seperate package for it.

[2015-04-21 18:12] aenima1985 opened #43 "Unreadable buttons in Geary"
I'm on Arch + Gnome 3.16, "show images" button are unreadable but "hover" effect is ok.

![screenshot from 2015-04-21 19-58-05](https://cloud.githubusercontent.com/assets/11461117/7259193/f70413ac-e861-11e4-9840-3d70fd333974.png)
![buttons](https://cloud.githubusercontent.com/assets/11461117/7259286/93cb34cc-e862-11e4-964c-c9d0eaa45c4b.png)

[2015-04-26 06:34] aquatix commented on #30
OK, finally have Gnome 3.16 on this machine and the buttons seem to be fine, size-wise (see attachment). Only thing that is different, is that the on-hover change from red to red-with-cross has gone; it's now always red-with-cross. This still works correctly in programs like Nautilus.

![screenshot from 2015-04-26 08-32-13](https://cloud.githubusercontent.com/assets/629545/7336176/036fc786-ebef-11

[2015-04-26 10:50] poltertec commented on #30
hmm wierd,

mutter is now (3.16) controlled by gtk+ so should be the same as nautilus, etc
Will investigate :)

[2015-04-26 11:13] aquatix commented on #30
Well, apparently it was an environment issue: both on Arch and Ubuntu Gnome 15.04 (with 3.16 from ppa's), GDM was started twice (!), which resulted in this artifact. I fixed it by adding FirstVT=7 to /etc/gdm/custom.conf, which makes GDM only run once (I hope). Your theme now works as it should :)

[2015-04-26 11:20] poltertec commented on #30
Allright nice to hear :)

[2015-04-26 14:44] #42 closed

[2015-04-26 14:45] #30 closed

[2015-05-01 20:03] mikaola opened #44 "[gtk3.16] gnome-system-monitor and gnome's photos app bugs"
I found some bugs on the apps in the title with gtk 3.16 on arch. They are not present with adwaita. I'll post screenshots comparing the two.

![adwaita_1](https://cloud.githubusercontent.com/assets/12202903/7436393/3f4fb31a-f045-11e4-9d43-da7e13fac762.png)
![evopop_1](https://cloud.githubusercontent.com/assets/12202903/7436394/43ffad16-f045-11e4-92bb-e84e2566fb60.png)

Here when you select a disk

[2015-05-02 14:56] #44 closed

[2015-05-07 08:45] Deminarcis opened #45 "Window control symbols swapped in CSD apps"
When opening CSD apps in Unity , the symbols for minimize and maximize are switched. the color and function are correct , but the symbol is swapped .

OS: Ubuntu 15.04
i am using the latest published tar of evopop ( 0.26)

![selection_567](https://cloud.githubusercontent.com/assets/7146314/7511545/eab3d5f4-f4e8-11e4-9211-fe45541a958b.png)

[2015-05-07 08:47] Deminarcis opened #46 "Unity Calendar"
When viewing the calendar in ubuntu , dates that have events assigned to them are drawn as white matching the background

OS: Ubuntu 15.04
i am using the latest published tar of evopop ( 0.26)

![selection_566](https://cloud.githubusercontent.com/assets/7146314/7511587/484c5a42-f4e9-11e4-87e1-0a5f84b90d1b.png)

[2015-05-07 23:33] poltertec commented on #45
Hey will try to look in to it this weekend however, very busy atm with new job, etc

[2015-05-09 22:51] poltertec commented on #45
just installed ubuntu myself.
The unity icons are wrong actually and some other stuff needs work in there aswell.
For all to work properly however gtk 3.16 is required, which isn't coming to ubuntu anytime soon unfortunately.

[2015-05-10 02:38] poltertec commented on #33
temp url https://github.com/poltertec/basepop-gtk-theme

[2015-05-10 02:38] #33 closed

[2015-05-10 02:42] poltertec commented on #45
i'm dropping gtk3.14 & unity support on this theme.
However i made a fork with normal window controls in which unity will be easier to support.
temp url: https://github.com/poltertec/basepop-gtk-theme

[2015-05-10 02:42] #45 closed

[2015-05-10 22:58] poltertec commented on #41
Branches added

[2015-05-10 22:58] #41 closed

[2015-05-14 00:37] poltertec commented on #43
seems to be a bug in geary itself.
Uses the .button:active color setting in all states while background-color does change.

[2015-05-14 00:51] #35 closed

[2015-05-14 13:44] #32 closed

[2015-05-16 06:18] Abhinav1217 opened #48 "Windows control buttons not visible on the theme"
Last night I updated the evopop theme by issuing following commands as root user in gnome-terminal.
` # git pull origin master`
` # sh ./autogen.sh`
` # make install`

After this I used Gnome-Tweak-Tool to select GTK+ theme and Windows theme to Evopop.  First thing I noticed was that now it was not listed on the Windows dropdown.  Then I noticed that Minimize, Maximize and Close button are not vis

[2015-05-16 08:16] alex285 commented on #48
@Abhinav1217 perhaps that happened after Evopop dropped 314 support.
https://github.com/solus-project/evopop-gtk-theme/commit/2b6b2693586b22cb21120ffa588f95ca3f58521b

[2015-05-16 15:11] Abhinav1217 commented on #48
Perhaps ...  I shall test it on VM on Fedora 22 beta to be sure.

[2015-05-16 18:48] poltertec commented on #48
Yepz window controls are controlled differently and more accurate since 3.16.
Which evopop requires to work properly, since every setup requires diffrent coding in 3.14 i gave that one up.

[2015-05-17 01:18] hlechner opened #49 "Geany: black/white toolbar"
There is a interesting geany's feature to put toolbar aside of menu. however make it inconsistent with non-light theme.

Look this screenshot:
![image](https://cloud.githubusercontent.com/assets/11244067/7668616/714dfbd6-fc18-11e4-8b25-ee1729d574aa.png)

The Geany at the present version uses GTK+ (GTK 3 version is in development).

I've tried a little to change only Geany's toolbar to dark-style b

[2015-05-17 09:18] #48 closed

[2015-05-18 18:39] hlechner commented on #49
It seems that there is no specific widget to define the toolbar background color.

The only widget that I could use to change the toolbar background is:
``` widget "GeanyMainWindow" style "testing" ```
![image](https://cloud.githubusercontent.com/assets/11244067/7687437/c08e73e0-fd73-11e4-8a6c-a98aad3b20bf.png)

Other possible solution is to use the "light-menubar" for this application specific (G

[2015-05-18 19:24] poltertec commented on #49
thx for the info i'll have a look at it asap

[2015-05-24 13:44] nxiety opened #50 "Patched gnome-terminal(fedora patches)"
When using evopop(dark or light) the transparency in gnome-terminal-fedora is disabled. I can sometimes get it to come back by enabling/disabling transparency within gnome-terminal-fedora for the current window.

Using other themes respects the transparency option within gnome-terminal-fedora.

Using version GNOME Terminal 3.16.1 in arch linux.

[2015-05-24 14:49] abrouwers opened #51 "Buttons do not theme properly in chromium"
Hi!

Just giving the theme a shot, and love it!  Unfortunately, I noticed that the buttons are not being themed properly in chromium - attached is a SS showing a hover over a button.

I know that chromium is a strange beast, but it seems to work OK with adwaita, so hopefully it's fixable!  I just updated to git (2015-05-24), and the issue persists.

Thanks for your work.
![screenshot from 2015-05-

[2015-05-24 14:53] abrouwers opened #52 "No button separation exists in delete dialogue"
I noticed when deleting a file in nautilus, that there isn't a any separation for buttons in the dialogue, which looks pretty strange.  Attached is a SS, which is reproducible by selecting a file, and hitting shift+del to remove it.  It seems that there should be at least SOME outline between cancel and delete?

![screenshot from 2015-05-24 10-50-55](https://cloud.githubusercontent.com/assets/3006

[2015-05-25 10:51] poltertec commented on #51
Works fine here, is the gtk2 murrine engine installed?

[2015-05-25 14:35] abrouwers commented on #51
Sorry, completely my fault!  I didn't notice it as a dep, as I was mostly focused on the GTK3 version.

[2015-05-25 14:36] #51 closed

[2015-05-25 22:26] poltertec commented on #51
no problem happy it's resolved :)

[2015-06-01 17:18] meghprkh opened #53 "Firefox tooltip issue"
The tooltips have a transparent background and in many cases I cant read them.
(Fedora 22 and Firefox 38.0.1)

![screenshot from 2015-06-01 22-47-05](https://cloud.githubusercontent.com/assets/5979605/7918609/3948d090-08b0-11e5-933f-aa0a7ddaa3e3.png)

[2015-06-01 17:22] meghprkh commented on #53
Another issue is with the downloading progress bar. (The sppinner appears over the progress bar but that is Adwaita bug also) but the background of progress bar is not blue.
![screenshot from 2015-06-01 22-51-32](https://cloud.githubusercontent.com/assets/5979605/7918688/eb60415a-08b0-11e5-9d5e-1689d220ea4e.png)

[2015-06-02 07:09] poltertec commented on #53
Tooltip issue should be fixed will look into progressbar later.

[2015-06-02 09:35] edoz90 opened #54 "Windows border on Cinnamon"
I'm using Cinnamon with evopop-gtk from AUR but I can set only the controls ("Controlli") theme not the windows border ("Bordi delle finestre") theme.
![schermata del 2015-06-02 11-16-36](https://cloud.githubusercontent.com/assets/6991986/7932830/4a4a6604-091b-11e5-8f63-f90af4968334.png)

[2015-06-03 20:11] #53 closed

[2015-06-03 20:12] #46 closed

[2015-06-03 20:12] #43 closed

[2015-06-27 13:24] joca-bt opened #55 "Broken Firefox 38 widgets"
I'm using GNOME 3.16 with the EvoPop theme under Arch Linux and Firefox's widgets are broken as shown here http://imgur.com/Dpjt1JC. For example, when I click in any widget there's no visual feedback: the widgets seem to be empty all the time, although they're not. Also, button widgets do not seem to be using the EvoPop theme. Other themes, e.g. Adwaita, do not have these issues.

[2015-07-03 11:34] nlaplante commented on #55
:+1: same here. Firefox 38.0.5

[2015-07-07 14:02] NinjaComics opened #56 "Archive Manager's extract status titlebar doesn't have proper theming"
After extracting, the titlebar of the pop-up dialog that displays the status of the extracted files doesn't seem to have themed properly. The elements on the titlebar are placed as shown in the attached screen capture.

![screenshot from 2015-07-07 19-09-45](https://cloud.githubusercontent.com/assets/4360717/8547791/c53bfaec-24de-11e5-8eec-e4ccd501a473.png)

[2015-07-12 20:22] joca-bt commented on #55
Changed to Firefox 39, still happening. I noticed this also with some other applications so perhaps some base themings are missing.

[2015-07-13 12:30] ikeydoherty commented on #55
You're missing the correct gtk2 engines packages. Likely murrine + pixbuf, not actually checked myself.

[2015-07-13 12:48] joca-bt commented on #55
Thanks, I also thought it could be some missing packages, but had no idea which ones. I will try it later today.

[2015-07-13 19:56] joca-bt commented on #55
Duh, I'm an idiot "This project is still a work in progress. Requires Gtk 3.16 & gtk-engine-murrine to function properly.". I'll ask for the AUR package to be upgraded to list that as a dependency.

[2015-07-15 20:39] joca-bt commented on #55
The AUR package has been updated.

[2015-07-15 20:39] #55 closed

[2015-09-15 18:02] #56 closed

[2015-10-09 11:10] fdinardo opened #58 "Please add support to gnome 3.18"
Hi,
I really appreciated your design.
Unfortunately the gtk theme doesn't work properly with the new gnome 3.18.
I'm available to help in this porting, but i'm not expert enough with gtk theming, so if you have suggestions I'm here...!

Thanks for your amazing work!

[2015-10-10 13:51] bcclsn commented on #58
up!

[2015-10-10 15:34] manrajsingh commented on #58
up!

[2015-10-11 14:34] ikeydoherty commented on #58
There is no maintainer for this project that's why its in the cold storage account

[2015-10-12 06:42] bcclsn commented on #58
:(

[2015-10-12 10:41] fdinardo commented on #58
@ikeydoherty ok, thanks for the explanation.

I'm going to fork this project but first, i would know what you think about this, then if you agree, please can you provide me some documentations or examples of GTK3 themeing. Unfortunately Gnome has poor docs about this argument, or i wasn't able to find something helpful!
Thanks in advance

[2015-10-12 13:02] hobbypunk90 commented on #58
@fdinardo sounds great :+1: i hope this help?
http://worldofgnome.org/making-gtk3-themes-part-1-basics/

[2015-10-12 13:38] ikeydoherty commented on #58
So I'd be over the moon if someone forks this! This is why we left it publicly accessible, so that the work was never lost :) Please, feel free, after all this is FOSS ^^

[2015-10-13 10:55] fdinardo commented on #58
@hobbypunk90 I read that post few time ago. The problem is that every update version of gtk they add others elements in the UI and i don't know how to select them via CSS. However i will try to keep this repo alive, but due the lack of free time i don't know when it will be ready.

@ikeydoherty

[2015-10-13 18:13] bcclsn commented on #58
@fdinardo il tema ARC e anche quello Numix sono stati aggiornati a gnome 3.18 e non hanno il bug su Nautilus. ho dato uno sguardo ai sorgenti  e ho visto che i file sono strutturati in maniera diversa, però forse può esserti utile :)
io purtroppo non sono molto esperto di css...

[2015-10-13 18:57] fdinardo commented on #58
@bcclsn Grazie, stavo proprio cercando un tema aggiornato che non replicasse il problema.
Purtroppo il modo di organizzare i files non è sempre lo stesso. Adoro il modo in cui hanno organizzato i file in questo repo, e dato che il tema "proviene" dal numix è probabile che abbiano la stessa organizzazione. Spero di poter aggioranare al più presto!

[2015-10-13 18:59] bcclsn commented on #58
@fdinardo se hai bisogno di una mano, contattami e farò il possibile :) questo tema merita di sopravvivere!!!

[2015-10-13 21:11] fdinardo commented on #58
@bcclsn Sicuramente!
Anzi visto che ti trovi nel mio fork sono gia riuscito a visualizzare la riga selezionata in nautilus nella sidebar. Tu potresti aiutarmi con il test. Clona il repo e se risolvi qualche issue ancora meglio :smile:

[2015-10-14 08:32] bcclsn commented on #58
@fdinardo purtroppo non so risolverle :(

[2015-10-14 08:33] bcclsn commented on #58
per il test, invece, con molto piacere *_*

[2015-10-22 15:13] fdinardo commented on #58
@bcclsn Ciao, dopo un po di tempo ho cercato di migliorare l'aspetto in gnome 3.18. Potresti dargli uno sguardo e vedere cosa ne pensi.
Usa il mio fork non questo altrimenti non vedrai i cambiamenti

Grazie

[2015-10-22 16:10] bcclsn commented on #58
@fdinardo grande!!!! il tema funziona e nautilus no sballa più la configurazione della sidebar.
restano da fixare giusto un paio di cose nella sidebar:
1. le voci Recenti Home Cestino etc. sono leggermente decentrate (se comparate a tutti gli altri temi)
2. la barra di selezione (blu evopop) delle voci Recenti Home Cestino etc. è decentrata, ovvero inizia dal bordo sinistro della finestra, ma term

[2015-10-25 14:09] fdinardo commented on #58
Ti ringrazio per il feedback.
Se ti è possibile, potresti aggiungere delle immagini in modo da farmi capire meglio.
Per il momento le modifiche sono relative solo alla versione Dark del tema. Per le modifiche su quella ligth, basta semplicemente copiare e incollare perché i colori vengono definiti in gtk.css, cosa che farò alla fine invece di fare il lavoro due volte.

[2015-10-25 14:57] bcclsn commented on #58
1. http://s16.postimg.org/s2cahd2mt/Schermata_da_2015_09_11_14_12_45.png
2. http://s16.postimg.org/5ex1b7n2t/Schermata_da_2015_10_22_09_28_48.png
3. http://s27.postimg.org/5zxc3bcmr/Schermata_da_2015_10_25_15_40_50.png
4. http://s15.postimg.org/h4d29p11n/Schermata_da_2015_10_25_15_53_27.png

se noti, nella foto 1 e 2, le voci Rcenti, Home, Cestino, etc. della sidebar sono più centrate, rispetto al

[2015-10-25 16:01] fdinardo commented on #58
Ti ringrazio per la spiegazione.
Credo sia più appropriato usare canali privati per la collaborazione e aprire un nuovo issue in inglese sul mio fork.
Anche io uso archlinux e aggiornare il pacchetto sarebbe una cosa stupenda.
Dal momento che esiste già il pacchetto, aspettiamo una risposta dal mantainer. In caso di mancata risposta prolungata, creiamo un nuovo pacchetto in AUR.

[2015-10-25 16:02] bcclsn commented on #58
ti aggiungo su g+ e continuiamo in pvt :)

[2015-11-06 15:40] Abhinav1217 commented on #58
@fdinardo I cloned your repo https://github.com/fdinardo/evopop-gtk-theme but I am getting this error
[code]

What am I doing wrong.

[2015-11-06 15:45] fdinardo commented on #58
@Abhinav1217 Try to not do 'sudo' but only `sh autogen.sh` in one of your `$HOME` direcetory.
If it works try:
`sudo make install`
to install the theme in /usr/share/themes

Let me know if it works.

Bye

[2015-11-07 03:20] Abhinav1217 commented on #58
Tried that too.. Didn't work. First tried without  sudo. Then tried with sudo thinking maybe it was some permission issue. Same message as above.

[2015-11-08 15:55] fdinardo commented on #58
@Abhinav1217 please can you show the ls output of the dir Evopop?

[2015-11-11 04:06] Abhinav1217 commented on #58
Current content is
[code]

I did `git clone <your-repo> Evopop && cd Evopop`. Then I did `sh autogen.sh` Got the same error given before, I thought it was some issue with permission, so I did `sudo sh autogen.sh` Same error.

[2015-11-11 04:10] Abhinav1217 commented on #58
Current content is
[code]

I did `git clone <your-repo> Evopop && cd Evopop`. Then I did `sh autogen.sh` Got the same error given before, I thought it was some issue with permission, so I did `sudo sh autogen.sh` Same error.

[2015-11-11 08:10] fdinardo commented on #58
The problem is that you don't have `automake` installed in your system.
Install it and retry.
Let me know.

[2015-11-12 03:36] Abhinav1217 commented on #58
I have it installed.
[code]

[2015-11-12 06:18] bcclsn commented on #58
@Abhinav1217: try to download only evopop-gtk-theme folder and put it in /usr/share/themes or ~/.themes... without to compile using the script

[2015-11-12 12:40] #58 closed

[2015-11-12 14:43] fdinardo commented on #58
@Abhinav1217 install it again, and make sure you have installed this packages:
* autoconf
* automake
* m4

A workaround could be the hint provided by @bcclsn.
[code]
for all the user.
[code]
for the current user only.

---
I have closed this issue because we are not talking anymore about the porting, that is partially done, at 3.18
I'm interesting to resolve this issue to figure out which dependen

[2015-11-12 15:08] Tigro commented on #58
Guys, use this build for F23: http://koji.russianfedora.pro/koji/buildinfo?buildID=1894

[2015-11-13 07:23] Abhinav1217 commented on #58
@Tigro Thanks. It is quite fixed. Only thing missing is the new file progress bar in Nautilus, Which is still not that visible. But sidebar and all the stuffs are now all set.

[2015-11-13 16:00] fdinardo commented on #58
@Tigro The scripts in that package are the same of this one. Why that package could be different from this? No customization found for fedora.

@Abhinav1217 this is really weird because they changed only the css (like i did) to fit for 3.18... Are you sure that my repo doesn't work for you?

[2015-11-13 20:39] Tigro commented on #58
@fdinardo Please, show me screenshot with new progress bar, so I can compare with current theme.

[2015-11-14 01:18] okanakalin commented on #58
Unfortunately, the theme is still not working very well for Geary. The folder list and the email list have some serious problems: misaligned boxes and borders, labels disappearing/changing colors when they shouldn't, labels at the top and bottom of the list covered by a gray box.

The last problem seems to be stemming from the rubber band effect lists have when you try to scroll them beyond the bo

[2015-11-14 13:11] fdinardo commented on #58
@Tigro i'm not referring to the css changes i meant that the script in the link provided by you are the same of these scripts. Why that package works for fedora and this one not?
What do you mean with "new progress bar"?
Are you mean the new operations_actions in Nautilus?
The new operations_actions is an icon. For example when you copy a file from a drive to another, It appears in the header bar,

[2015-11-14 13:21] Abhinav1217 commented on #58
Yes I meant operation action in nautilus. I didn't knew what it was called.  It is almost invisible if screen brightness is even a bit low.

[2015-11-14 19:17] okanakalin commented on #58
I am using the stock version that comes with Fedora 23 (0.10.0).

[2015-11-20 03:00] fdinardo commented on #58
@okanakalin Please can you download latest version of my branch and let me see if there is an improvement?

I just fixed the overshoot issue (a shady border on over scroll).

[2015-11-20 22:13] fdinardo commented on #58
@Tigro Finally fixed the new progress bar issue with the last commit!

[2015-11-21 07:01] okanakalin commented on #58
That problem is certainly fixed. However, I noticed a couple of other problems. I feel like I should open an issue about that instead of hijacking this thread but here it goes:

Selected email in the list has turquoise background color. However, the box of that colored rectangle does not match the border of the labels in the list. It is shifted downward for some reason.

If you open an email with

[2015-11-21 13:11] fdinardo commented on #58
@okanakalin you're right. It's better to open a separate issue.

I knew all of these problems, but since i have reached a good state of improvement for Geary, i thought to commit it and get it usable.

I'm still working on these problems.
Thanks for the feedback.

[2016-05-29 07:26] #52 closed

[2016-06-08 20:49] poltertec opened #61 "My prio's for next release"
**Add Gtk 3.20 support**
- [x]  improve budgie theming
- [x]  Improve header theming
- [x]  Improve nautilus sidebar
- [x]  Improve popover theming

[2016-06-10 17:40] Ste74 commented on #61
Do you want to update this theme? Great, I removed from Manjaro why did not support gtk3.20 :wink:

[2016-06-10 17:59] ikeydoherty commented on #61
So I'm wondering now that this repo is active again where it should be moved to..

`solus-cold-storage` is for dead/defunct projects, not one's being actively maintained?

[2016-06-10 18:20] poltertec commented on #61
wherever you wish, I guess ;)

[2016-06-15 02:19] #61 closed

[2016-06-15 23:55] #50 closed

[2016-06-16 00:10] #49 closed

[2016-06-16 08:41] Tigro opened #63 "Dark toolbars in LibreOffice (5.1)"
Black toolbars in LibreOffice. I think they should be grey...

![2016-06-16 11-37-05](https://cloud.githubusercontent.com/assets/534335/16110575/1c57cb2a-33b7-11e6-844b-00d57b746cc2.png)

[2016-06-16 08:52] poltertec commented on #63
K, a bit different then what i am seeing with 5.0.6 :)
Will look into it.
![schermafdruk van 2016-06-16 10-47-49](https://cloud.githubusercontent.com/assets/8506580/16110864/46e1ec7e-33b0-11e6-8036-913db0070d77.png)

[2016-06-16 09:32] #63 closed

[2016-06-16 09:48] Tigro commented on #63
Excellent. Thank you very much.

[2016-06-16 10:38] poltertec commented on #63
No problemo :)

[2016-08-22 15:27] RezaBani75 opened #64 "how to uninstall it?"
how can I uninstall it?
I use gnome 3.18 help me to remove it because it has been installed 3 times and in the Tweak Tools I have 3 Evopop that are the same.

[2016-10-24 21:41] DeepDlueIV opened #65 "Does not work ubuntu 16.10"
Just empty unity-tweak-tool. Can not pick evopop :(

[2016-10-24 23:14] poltertec commented on #65
Will look into it asap.

[2016-10-24 23:20] poltertec commented on #64
Search for folders named "EvoPop" & delete if needed.
You probally installed it as root & regular.

[2016-10-24 23:20] #64 closed

[2016-12-28 17:47] Abhinav1217 opened #66 "Depricated issues in Fedora 25"
I have cloned this repo and installed evopop-gtk-theme in fresh installed Fedora 25.

On launching apps using terminal, multiple depricated issues are shown.
It all boils down to 3 errors, "One color stop", "not a number", "Expected a string".
I tried in multiple default apps like nautilus, firefox, and also on apps installed by me such as fedy.

[code]
These error were not present when using olde

[2017-03-11 06:50] Abhinav1217 commented on #66
Anything??

[2017-03-24 12:25] D4v2z commented on #66
Hi, Did you get it installed? I have F25 and with the script './install-gtk-theme.sh' everything ok, have you tried './install-geary-fix.sh' ?

[2017-03-26 10:30] Abhinav1217 commented on #66
I installed it by downloading from github and running  the script. I don't use geary so I haven't run the fix.

[2017-05-28 20:45] poltertec commented on #66
Working on it atm.
Srry for the late response, been busy with work and other life projects :)

[2017-05-28 21:20] poltertec commented on #66
Should be resolved :)

[2017-05-28 21:20] #66 closed

[2017-05-28 21:28] poltertec commented on #65
Due to the lack of time only Solus will be supported

[2017-05-28 21:28] #65 closed

[2017-07-02 13:03] carloswbarros opened #68 "Menu bar has the text with the same color as the background"
The menu bar has the text with the same color as the background, this doesn't happen to every application. If I hover the menu item, I can see the text of that menu item.

Transmission:
![screenshot from 2017-07-02 13-41-42](https://user-images.githubusercontent.com/2727733/27769912-fe3c31a6-5f2c-11e7-9325-4be4fa099350.png)

Terminal:
![screenshot from 2017-07-02 13-41-13](https://user-images.gith

[2017-07-03 03:07] poltertec commented on #68
thx problem found has something to do with the budgie theming.
Hope to push it tomorrow, atm still working on a extra color sheme.

[2017-07-03 11:24] #68 closed

[2017-08-20 20:12] fossfreedom opened #69 "dark font colour on panel"
![workspace 1_074](https://user-images.githubusercontent.com/996240/29498035-f753aa1e-85eb-11e7-9f97-3034f7167955.jpg)

Using evopop preview 2.9.92 on Ubuntu 17.04 (GTK+ 3.22) without the dark-theme checked.

The font colour of the clock applet and the global menu applet is very dark; intentional?

Fonts are Noto Sand UI Bold

[2017-08-20 20:46] poltertec commented on #69
Not really :s
Fix inbound

[2017-08-20 20:51] #69 closed

[2017-10-29 08:21] Bleznudd opened #70 "Bold text and big borders"
Don't know if this is the expected appearance or a bug, but I've **bold** text in a lot of places where it shouldn't be. As example in my upper panel (I'm using **Budgie DE**) clock and battery percentage are bold, the same for applications names in the menu.
Further more windows borders are really big, and this is ugly in < 14" screens. How to modify the height of the titlebar?

If needed, here a

[2017-10-29 10:24] poltertec commented on #70
screenshot?

[2017-10-29 19:39] Bleznudd commented on #70
Sure.
Here's the comparison between Evopop Azure and Arc Darker (but the font is the same for every other GTK theme)

Budgie Menu:
(all names are bold with Evopop)
![menu-arc](https://user-images.githubusercontent.com/33193871/32147496-7d0a1228-bce8-11e7-8cbb-205fe5901b2e.png)
![menu](https://user-images.githubusercontent.com/33193871/32147500-7f357f4c-bce8-11e7-9437-9cb7f30d7285.png)

Budgie Pane

[2017-10-30 00:00] poltertec opened #71 "Todo for 3.0 release"
- [] Tweak Budgie menu
- [] Budgie Task List widget shouldn't be bold
- [] Tweak sidebar lists
- [] Fix window styling non GTK

[2017-10-30 00:04] poltertec commented on #70
I'll look into it.
I can understand your problem with a <14 screen, however already tried non bold clock some time ago.
Looked ugly on >24 screen with high resolution, so that will not change.

#71

[2017-11-01 00:45] poltertec commented on #70
In latest commit budgie menu font weight was set to normal.
Also if 'Stylize Regions' aren't selected clock and battery percentage shouldn't be bold since this commit.

[2017-11-04 12:46] Bleznudd commented on #70
Thanks for the menu font weight.
About the problem with <14 inch screens, it involves the height of the window borders, not the weight of the font.

Here you can see the height of the border of gnome terminal with Materia Compact theme

![materia-compact-terminal](https://user-images.githubusercontent.com/33193871/32405235-c541ea0c-c161-11e7-998f-034f79512f2c.png)

and here you can see the height

[2017-11-04 13:56] poltertec commented on #70
Yes I know the height should be dropped by around 6px already in last
commit.

Op 4 nov. 2017 13:46 schreef "Bleznudd" <notifications@github.com>:

[2017-11-10 23:41] poltertec commented on #70
Tweaked it some more.
Could you check if this is pleasant for your monitor?

[2018-05-28 14:09] goosenphil opened #72 "GTK warnings"
The current version of the theme shows these warnings when opening any GTK application, such as Nautilus:

[code]

[2018-06-29 02:34] Akoot-zz commented on #72
This is happening to me as well

[2019-07-26 21:34] sleepforlife commented on #72
same here.
is this project effective? Is anyone working on it? this is my favorite theme.